*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}
.login-container{
    background: rgba(225, 225, 225, 0);
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 2);
}
.login-container h2{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.input-group{
    margin-bottom: 20px;
    position: relative;
}
.input-group input{
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: rgba(225, 225, 225, 0.2);
    color: #fff;
    font-size: 16px;
    transition: all 0.3 ease;
}
.input-group input::placeholder{
    color: #f0f0f0;
}
.input-group input:focus{
    background: rgba(225, 225, 225, 0.3);
    box-shadow: 0 0 10px #fff;
}
.btn-login{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    background: #fff;
    color: #2575fc;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-login:hover{
    background: #2575fc;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0,3);
}
.lupa-password{
    text-align: center;
    margin: 15px;
    color: #fff;
    font-size: 14px;
}
.lupa-password a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.lupa-password a:hover{
    color: #ffea00;
}